body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
}

/* Falta media query, esto es para desktop*/
.titulo {
    text-align: center;
    color:hsl(232, 13%, 33%);
    font-size: 1rem;
}

.container_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(234, 14%, 74%);
    margin: 48px 0 65px 0; 
    font-size: 1rem;   
}

.promo_container{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.card {
    max-width: 350px;
    background-color: rgb(255,255,255);
    display: flex;
    flex-flow: column;
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
    color:hsl(232, 13%, 33%);
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.06), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
}

.card h2 {
    margin-bottom: 0;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.1em;
    font-size: 5em;
}

.price > span{
    font-size: 0.5em;
}

.monthly.price{
    display: none;
}

.featured {
    padding: 2.5em 1em;
    background: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: rgb(255,255,255);
}

.card hr{
    width: 90%;
    border-color: hsla(240, 78%, 98%, 0.5);
}

.boton {
    border-radius: 5px;
    letter-spacing: 0.13em;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    margin: 1em;
    box-sizing: border-box;
    color: rgb(255,255,255);
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.boton:active{
    box-shadow: 0 0 0 1px hsl(237, 63%, 64%) inset;
    background: none;
    color: hsl(237, 63%, 64%);
}

.featured > .boton{
    background: rgb(255,255,255);
    color: hsl(237, 63%, 64%);
}

.featured > .boton:active{
    box-shadow: 0 0 0 1px rgb(255,255,255) inset;
    background: transparent;
    color: rgb(255,255,255);
}

/* Switch */

.toggle_label {
    color: hsl(0, 0%, 100%);
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.toggle_button-wrapper {
    position: relative;
    display: flex;
}

.toggle_button {
    width: 3.125rem;
    height: 1.75rem;
    border-radius: 2.5rem;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    display: inline-block;
    padding: 0.125rem;
    box-sizing: border-box;
    
}

.toggle_button::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    display: block;
}

.toggle_checkbox:hover{
    cursor: pointer;
}

.toggle_checkbox {
    z-index: 1;
    position: absolute;
    width: 3.125rem;
    height: 1.75rem;
    right: 0;
    top: 0;
    margin: 0;
    opacity: 0;
}

.toggle_checkbox:checked + 
.toggle_button {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.toggle_checkbox:checked + 
.toggle_button::after {
    margin-left: auto;
    background-color: hsl(0, 0%, 100%);
}

.toggle_button-wrapper:active{
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
}


/* Responsive 375px */

@media screen and (max-width: 1100px){
    .titulo {
        text-align: center;
    }

    .promo_container {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin: 1rem 0;
    }
    .card.featured{
        padding:1em;
    }
}