body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.titulo {
    color:hsl(232, 13%, 33%);
    font-size: 2rem;
}

.promo_container{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.card {
    max-width: 550px;
    min-width: 350px;
    background-color: rgb(255,255,255);
    display: flex;
    flex-flow: column;
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
    color:hsl(232, 13%, 33%);
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.06), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
}

.card h2 {
    margin-bottom: 0;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.1em;
    font-size: 5em;
}

.price > span{
    font-size: 0.5em;
}

.monthly.price {
    display: none;
}

.featured {
    padding: 2.5em 1em;
    background: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: rgb(255,255,255);
}

.card hr{
    width: 90%;
    border-color: hsla(240, 78%, 98%, 0.5);
}

.boton {
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 0.13em;
    padding: 1em;
    text-decoration: none;
    margin: 1em;
    color: rgb(255,255,255);
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    user-select: none;
}

.boton:active{
    box-shadow: 0 0 0 1px hsl(237, 63%, 64%) inset;
    background: none;
    color: hsl(237, 63%, 64%);
}

.featured > .boton{
    background: rgb(255,255,255);
    color: hsl(237, 63%, 64%);
}

.featured > .boton:active{
    box-shadow: 0 0 0 1px rgb(255,255,255) inset;
    background: transparent;
    color: rgb(255,255,255);
}

/*checkbox*/
#toggle {
  display: none;
}

/* es un div que contiene al label y los textos "monthly" y "yearly" (para que no sean parte del label)*/
.toggle-container {
  display: flex;
  align-items: center;
  color: hsl(234, 14%, 74%);
  margin: 48px 0 65px 0; 
}

/* El boton que vé el usuario */
.toggle-button {
  width: 40px;
  padding: 3px 5px;
  border-radius: 999px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  margin: 0 0.5em;
  display: flex;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 1s;
}

/* Esto es el circulo blanco */
.toggle-button::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  transition-property: margin-left;
  transition-duration: 0.5s;
}

/*Efecto cuando cliquean o tocan el deslizable*/
.toggle-button:active::after, .toggle-button:active{
  filter: brightness(120%);
}

/* Efecto cuando está tildado el checkbox*/
#toggle:checked ~ .toggle-container .toggle-button::after {
  margin-left: 20px;
}

#toggle:checked~.promo_container .card p:first-of-type {
  display: flex;
}

#toggle:checked~.promo_container .card p:nth-of-type(2) {
  display: none;
}

/* Responsive */

@media screen and (max-width: 1100px){
    .promo_container {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin: 1rem 0;
    }
    .card.featured{
        padding:1em;
    }
}